<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lista de Contatos</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="js/json2.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone-localstorage.js"></script>
    <script src="js/contacts.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/master.css">
  </head>

  <body>

    <div id="contacts_app" class="container">

    	<div class="content">
	        <div class="page-header">
	        	<h1>Contatos</h1>
	        </div>

        	<div class="row">
        		<div id="alert" class="span14" style="display:none">
        		</div>

	       		<div class="span10">
	            	<ul id="contacts_list" class="unstyled"></ul>
	        	</div>

        		<div class="span4">
            		<h3>Novo Contato</h3>

		            <form class="new_contact">
		            	<input id="contact_id" type="hidden">

						<div class="clearfix">
							<div class="name input">
							  <div class="input-prepend">
							    <span class="add-on"></span>
							    <input id="contact_name" class="span3" type="text" placeholder="Nome">
							  </div>
							</div>
						</div>

		            	<div class="clearfix">
			                <div class="phone input">
			                  <div class="input-prepend">
			                    <span class="add-on"></span>
			                    <input id="contact_phone" class="span3" type="text" placeholder="Telefone">
			                  </div>
			                </div>
			            </div>

			            <div class="clearfix">
			                <div class="mail input">
			                  <div class="input-prepend">
			                    <span class="add-on"></span>
			                    <input id="contact_mail" class="span3" type="email" placeholder="E-mail">
			                  </div>
			                </div>
			            </div>

			            <div class="clearfix">
			                <div class="twitter input">
			                  <div class="input-prepend">
			                    <span class="add-on"></span>
			                    <input id="contact_twitter" class="span3" type="text" placeholder="Twitter">
			                  </div>
			                </div>
			            </div>
		            </form>

          		</div>
        	</div>
     	</div>

		<footer>
			<p>&copy; Mojo Potion 2011</p>
		</footer>

    </div> <!-- /contacts_app -->

    <script type="text/template" id="contact_template">
    	<article class="vcard">
      		<h5 class="name"><%= name %></h5>
      		<div class="phone"><%= phone %></div>
      		<div class="mail"><%= mail %></div>
      		<div class="twitter"><%= twitter %></div>
      		<a class="delete button" href="#delete">apagar</a>
      		|
      		<a class="edit button" href="#edit">editar</a>
      	</article>
    </script>
  </body>
</html>
